.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* content wrapper */
.content {
  background-color: #dcdcdc; /* Светло-серый фон как на макете */
  border-radius: 24px;
  /* padding: 30px 20px; */
  width: 90%;
  max-width: 500px;
  max-height: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE и Edge */
}

.content::-webkit-scrollbar {
display: none;               /* Chrome, Safari, Opera */
}

.close {
  width: 46px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.close:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

/* иконка закрытия */
.header {
  position: absolute;
  top: 20px;
  right: 20px;
}

.helpPopUp {
  content: "";
  position: absolute;
  background-image: url('../../../public/tree-icon2.png');
  height: 40vh;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left bottom;
  z-index: -1;
  padding: 5%;
}

.helpPopUp::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 99px;
  height: 196px;
  background-image: url('../../../public/tree-icon2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  opacity: 0.4;
  z-index: -1;
  pointer-events: none;
  transform: scaleX(-1);
}

.HelpText{
  text-align: center;
}

.UnDeathPopUp{
  background-color: rgba(101, 140, 84, 1);
}

.LogPopUp{
  max-width: 35%;
}