.header{
    display: flex;
    background-color: rgba(101, 140, 84, 1);
    flex-direction: row;
    height: 15vw;
    align-items: center;
    justify-content: space-around;
}

.title{
    font-size: min(40px, calc(13px + 18 * ((100vw - 320px) / 1024)));
    font-weight: 800;
    color: rgba(241, 243, 235, 1);
    max-width: 20vw;
    padding-left: 4vw;
}

.text{
    display: flex;
    font-weight: 200;
    min-height: 14.3vh;
    color: rgba(241, 243, 235, 1);
    max-width: 50vw;
    align-items: center;
}

.text > p{
    margin: 0;
    font-size: min(34px, calc(7px + 18 * ((100vw - 320px) / 1024)));
}
