.header{
    display: flex;
    background-color: rgba(101, 140, 84, 1);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: min(50px, calc(17px + 24 * ((100vw - 320px) / 1024)));
    font-weight: 400;
    margin: auto;
    color: rgba(241, 243, 235, 1);
    max-width: 20vw;
    padding-right: 4vw;
}



.text{
    font-weight: 400;
    min-height: 14.3vh;
    font-size: min( 45px, calc(13px + 21 * ((100vw - 320px) / 1024)));
    color: rgba(241, 243, 235, 1);
    margin-right: 6vh;
    margin-top: 7.6vh;
    margin-bottom: 7.6vh;
    max-width: 50vw;
}