.header {
    background-color: #9FBC4E;
    display: flex;
    position: fixed !important;
    top: 0;
    left: 50%;
    height: 16vh;
    transform: translateX(-50%);
    width: 100%;
    z-index: 999 !important;
    max-width: 2000px;
    min-height: max-content;
}

.header div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: max-content;
    padding: 6vh 6vh 3.5vh;
    position: relative;
}

.burger_button{
    position: absolute;
    top: 50%;
    left: 2vw;
    transform: translateY(-50%);
    font-size: clamp(10px, 5.5vw, 40px); /* адаптивный размер */
    cursor: pointer;
    z-index: 1000;
    display: none;
}

.button {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-family: 'Merriweather';
    height: 6.3vh;
    font-size: min(40px, calc(5px + 13 * ((100vw - 320px) / 1024)));
    width: 19.5vw;
    border: 0.26vw solid white;
    cursor: pointer;
    background-color: rgba(28, 28, 28, 0);
    color: #F1F2EB;
}

button p{
    margin: 0;
}

.button:hover {
    transform: scale(1.05);
  }

.button:nth-child(1){
    margin-right: 2vw;
}

.button:nth-child(2){
    background-color: #F1F2EB;
    margin-left: auto;
    margin-right: 2vw;
    width: 39vw;
    color: black;
    border: 0.13vw solid black;
}
/* @media (max-width: 700px){
    height: 16vh;
} */

@media (max-width: 431px){
    .button{
        display: none !important;
    }
    .burger_button{
        display:block;
    }
}