.container{
    width: 100%;
    font-size: min(45px, calc(12px + 28 * ((100vw - 320px) / 1024)));
    max-width: 2000px;
    margin-bottom: 7%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    /* /* border: 2px solid magenta; */
}

.LeftBlock{
    align-items: center;
    margin-left: 6vw;
    margin-top: 20vh;
    margin-bottom: 25.8vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
    background-color: rgba(241, 242, 235, 0.73);
    border-radius: 45px;
}

.RightBlock{
    align-items: center;
    /* border: 2px solid blueviolet; */
    width: 53%;
    margin-right: 6vh;
}

.RightBlock > div{
    display: flex;
    flex-direction: column;
    gap: 7.3vh;
    width: 37vw;
    margin: auto;
    margin-top: 13vh;
    align-items: center;
}

.CountReg{
    font-size: min( 45px, calc(13px + 18 * ((100vw - 320px) / 1024)));
    max-width: min-content;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 600;
}

.CounterTrees{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 2vh 0;
    padding-bottom: 3.1vh;
    font-size: min(60px, calc(27px + 18 * ((100vw - 320px) / 1024)));
    font-weight: 700;
}

.CounterTrees p{
    margin: 0;
}

.CounterTrees p:first-child{
    letter-spacing: 0.06em;
    margin-right: 1vw;
    font-weight: 900;
    color: rgba(111, 139, 65, 1);
}

.title{
    margin: 0;
    /* border: 2px solid yellow; */
    font-size: min(60px, calc(22px + 30 * ((100vw - 320px) / 1024)));
    text-align: left;
    font-weight: 800;
    text-transform: uppercase;
}

.memoryOf{
    margin: 0;
    text-align: left;
    font-size: min(34px, calc(10px + 18 * ((100vw - 320px) / 1024)));
}

.memoryOf span{
    color: rgba(111, 139, 65, 1);
}

.button{
    font-family: 'Merriweather';
    padding: 2.7vh;
    border: 0.13vw solid black;
    width: 100%;
    max-width: 690px;
    background-color: rgba(28, 28, 28, 0);
    cursor: pointer;
    align-items: center;
    font-size: min(30px, calc(10px + 18 * ((100vw - 320px) / 1024)));
}

@media (max-width: 1250px){
    .container{
        height: 56vw;
    }

    .LeftBlock{
        margin-top: 20vw;
        margin-bottom: 25.8vw;
    }
    
    .CounterTrees{
        margin: 1.8vw 0;
        padding-bottom: 3vw;
    }

    .RightBlock{
        margin-right: 2vw;
    }
    
    .RightBlock > div{
        gap: 5.3vw;
        margin-top: 16vw;
    }

    .title{
    font-size: min(60px, calc(22px + 25 * ((100vw - 320px) / 1024)));

    }

}

@media (max-width: 768px) {
    .title {
        margin-top: 7vw;
        margin-bottom: 5vw;
        max-width: 70vw;
        font-size: 8vw;
    }

    .container {
        margin: 0;
    }

    .memoryOf {
        margin: 4vw 0;
    }

    .LeftBlock {
        margin-top: 3vw;
    }
}

@media (max-width: 480px) {
    .button {
        max-width: 80vw;
        font-size: min(25px, calc(12px + 15 * ((100vw - 320px) / 1024)));
    }
    
    .CounterTrees {
        font-size: min(50px, calc(18px + 20 * ((100vw - 320px) / 1024)));
    }
}