body, html {
  margin: 0;
  padding: 0;
}

.main{
  background-color: rgba(241, 242, 235, 1);
    margin: 0;
    padding: 0;
    max-width: 2000px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: max-content;
    font-family: 'Merriweather';
    /* border: 2px solid greenyellow; */
}

.main:first-child {
  position: relative;
  top: 8vw;
  display: flex;
  background-color: #f8f8f2; /* основной фон */
}

/* Псевдоэлемент с картинкой */
.main:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 43.5%;
  height: 100%;
  background-image: url('main_page_img.jpg');
  background-size: 238%;
  background-position: bottom;
  border-bottom-right-radius: 30% 50%; /* эффект как на макете */
  z-index: 0; /* чтобы был под контентом */
  overflow: hidden;
}

/* Обертка для контента внутри блока */
.main > * {
  position: relative;
  z-index: 1; /* контент поверх картинки */
}

.main:nth-child(2){
  margin-top: 8vw;
}


.helpcircle {
  position: fixed;
  right: 6vh;
  bottom: 6vh;
  width: clamp(20px, 4vw, 80px);
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 50%;
  border: 0.36vw solid rgba(111, 139, 65, 1);
  cursor: pointer;
  font-size: 2.6vw;
  font-family: "Inter";
  font-weight: 700;
  color: rgba(111, 139, 65, 1);
  z-index: 999;
  }

  .helpcircle:hover {
    transform: scale(1.05);
  }

  .cont_map{
    width: 90%;
    margin: auto;
  }

  .title_map{
    margin: 0;
    margin-top: 7vh;
    margin-left: 4vh;
    font-size: min(34px, calc(10px + 18 * ((100vw - 320px) / 1024)));
  }

  .block_map{
    width: 100%;
    margin: auto;
    margin-top: 3vh;
    height: 74vh;
    border-radius: 16px;
    box-shadow: 0 6px 8px rgba(80, 100, 60, 0.27);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .block_map .leaflet-container {
    width: 100% !important;
    height: 100% !important;
    border-radius: 16px;
  }

  .block_map > p{
    margin-left: 2vw;
    font-size: min( 45px, calc(13px + 21 * ((100vw - 320px) / 1024)));
  }

  /* @media (max-width:1700px){
    .main:first-child{
      top: 12vw;
    }

    .main:nth-child(2){
      margin-top: 12vw;
    }
  } */

  @media (max-width: 1350px){
    .main:first-child{
      top: 10vw;
    }

    .main:nth-child(2){
      margin-top: 10vw;
    }

    .helpcircle{
      right: 3vw;
    }
  }

  @media (max-width: 1000px) {
    .helpcircle{
      width: clamp(20px, 5vw, 80px);
      font-size: 3vw;
      border: 0.4vw solid rgba(111, 139, 65, 1);
    }
  }

  @media (max-width: 768px) {
    .helpcircle{
      width: clamp(20px, 6vw, 80px);
      font-size: 3.5vw;
      border: 0.45vw solid rgba(111, 139, 65, 1);
    }
  }

  @media (max-width: 426px) {
    .main:first-child::before{
      width: 0%;
    }

    .title_map{
      margin-top: 5vw;
      text-align: center;
      font-size: min(34px, calc(12px + 18 * ((100vw - 320px) / 1024)));
      font-weight: 600;
    }

    .helpcircle{
      width: clamp(20px, 10vw, 80px);
      font-size: 5.5vw;
      border: 0.7vw solid rgba(111, 139, 65, 1);
      bottom: 7vw;
      right: 3vw;
    }
  }
