.mapcon{
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 1800px;
    margin: auto;
}

.custom_popup {
  background:
    url('trees-popup-onMap.png') left bottom no-repeat,
    #F1F2EB;
  background-size: auto 40%, auto;
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, left top;
  border-radius: 32px;
  padding: 50px 60px;
  min-width: 420px;
  max-width: 700px;
  min-height: 220px;
  max-height: 50vh;
  position: relative;
  box-shadow: 0 4px 32px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.popup_close {
    position: absolute;
    top: 24px;
    right: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    filter: brightness(0) saturate(100%);
}
.popup_close > img {
    width: 25px;
    height: 25px;
}

.popup_title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    margin:0
}

.popup_main {
    margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.popup_left {
  flex: 1; /*это озночает что блок будет занимать всю доступную ширину*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 220px;
  min-width: 40%;
}

.popup_desc {
  font-size: 1.2rem;
  font-family: 'Merriweather', serif;
  max-height: 300px;
  overflow-y: auto;
}

.popup_photo_block {
  width: 260px;
  min-height: 320px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.popup_photo {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 12px;
}