.root {
  font-family: 'Merriweather', serif;
  min-height: 100vh;
  padding-top: 8vw;
  background: #f8f9f2;
}

.header {
  background: #7d9746;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vw;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(80, 100, 60, 0.07);
  background-image: url('../css/trees-popup-onMap.png'), url('../../public/tree.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left 0px bottom;
  background-size: 10vw 90%, auto 90%;
}

.back_btn {
  font-family: 'Merriweather';
  position: static;
  color: #fff;
  font-size: min(40px, calc(5px + 16 * ((100vw - 320px) / 1024)));
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 4vw;
}

.backText:hover {
  text-decoration: underline;
}

.backArrow {
  font-size: 40px;
  margin: 0 10px 6px 10px;
  cursor: pointer;
}

.backText {
  font-weight: 600;
  cursor: pointer;
}

.headerTitle {
  font-size: min(40px, calc(8px + 16 * ((100vw - 320px) / 1024)));
  font-weight: 300;
}

.headerTitleBlock {
  font-family: 'Merriweather';
  position: static;
  color: #fff;
  padding-right: 14vw;
}

.cedarsList {
  padding-top: 4vw;
  margin: 0 6vw;
  padding-bottom: 10vh;
}

.cedarItem {
  display: flex;
  align-items: center;
  margin-bottom: 2vw;
  font-size: 26px;
  cursor: pointer;
  transition: background 0.15s;
  border-radius: 8px;
  padding: 4px 12px 4px 7px;
}

.cedarItem:hover {
  background: #f0f5e7;
}

.cedarCheck {
  color: #7d9746;
  font-size: min(40px, calc(17px + 18 * ((100vw - 320px) / 1024)));
  margin-right: 20px;
  transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
}

.cedarCheckOpen {
  transform: rotate(90deg);
}

.cedarName {
  font-size: min(40px, calc(13px + 18 * ((100vw - 320px) / 1024)));
}

.cedarDescription {
  min-height: 140px;
  max-height: 60vh;
  border: 2px solid #7ca04b;
  border-radius: 8px;
  padding: 16px;
  font-size: 1.1rem;
  box-shadow: 0 6px 8px rgba(80, 100, 60, 0.27);
}

.cedarInfoBlock {
  display: flex;
  align-items: center;
  margin: 20px 0 30px 48px;
  max-width: 700px;
  min-height: 120px;
  animation: fadeInBlock 0.3s;
  flex-direction: column;
}

.popup_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  width: 82%;
}

.popup_main_flex {
  flex: 1 1 auto;
  min-height: 0;
  max-height: 330px;
  display: flex;
  gap: 32px;
  width: 100%;
}

.popup_left_desc {
  flex: 0 0 55%;
  max-width: 55%;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

@keyframes fadeInBlock {
  from { opacity: 0; transform: translateY(-10px) scale(0.98); }
  to { opacity: 1; transform: translateY(0) scale(1); }
}

.cedarPhoto {
  min-width: 195px;
  min-height: 195px;
  max-width: 35%;
  max-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
  border-radius: 6px;
  margin-left: 16px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.cedarPhoto img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.cedarPhotoPlaceholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  font-size: 20px;
  background: #e5e5e5;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
}

@media (max-width: 1025px){
  .backArrow{
    font-size: min(40px, calc(19px + 20 * ((100vw - 320px) / 1024)));
    margin: 0 1vw 4px 1vw;
  }
  .header{
    height: 10vw;
  }

  .root{
    padding-top: 10vw;
  }
}

@media (max-width: 768px) {
  .popup_main_flex{
    gap: 14px;
  }

  .popup_footer{
    font-size: 0.8rem;
    gap: 10px;
  }
}

@media (max-width: 426px) {
  .header{
    height: 15vw;
    background-size: 17vw 90%, auto 90%;
  }

  .root{
    padding-top: 15vw;
  }

  .popup_main_flex{
    flex-direction: column;
    align-items: center;
    max-height: min-content;
  }

  .popup_footer{
    margin-top: 3vw;
    align-items: flex-start;
    gap: 9vw;
  }

  .headerTitle{
    font-size: min(30px, calc(12px + 35 * ((100vw - 320px) / 1024)));
  }

  .backText{
    display: none;
  }

  .back_btn{
    padding-left: 6vw;
  }

  .backArrow{
    font-size: 7vw;
  }

  .cedarInfoBlock{
    margin: 2vw 0 3vw 4vw;
  }

  .popup_left_desc{
    max-width: 100%;
    max-height: 54vw;
  }
}