/* logform.module.css или regform.module.css */

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8%;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .backButton {
    padding: 0;
    margin-right: auto;
    background: none;
    border: none;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .backButton:hover {
    text-decoration: underline;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    min-width: max-content;
  }
  
  form p{
    font-size: large;
    margin: 0 auto;
  }

  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .button {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .button:hover {
    background-color: #f0f0f0;
  }
  