.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 3vw;
    box-sizing: border-box;
  }

  .main:nth-child(2){
    display: none;
  }
  

  /* Шапка */
  .head_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Кнопка "Вернуться на главную" */
  .head_info button {
    background-color: #ddd;
    border: none;
    padding: 1vh 2vw;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* ФИО */
  .head_info p {
    background-color: #ddd;
    padding: 1vh 2vw;
    margin: 0;
  }
  
  /* Навигация (шаги) */
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
  }
  
  .map_con h2 {
    text-align: center;
    margin-bottom: 1vh;
    font-size: 1.2rem;
  }
  
  .map{
    width: 90%;
    margin: 1% auto;
    height: 51vh;
  }

  /* Футер с кнопкой */
  .footer_reg {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 40%;
    justify-content: center;
    margin-top: 2vh;
  }
  
  .footer_reg button {
    background-color: #d9d9d9;
    padding: 1vh 3vw;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
  }

  .footer_reg button:nth-child(2){
    margin-left: 15px;
  }
  
  .steps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  
  /* Кружки с номерами шагов */
  .step {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Активный шаг */
  .active {
    border-color: #4b783b; /* зелёный цвет */
    color: #4b783b;
  }
  
  /* Линия между шагами */
  .line {
    height: 2px;
    width: 80px;
    background-color: black;
  }
  
  .reg_kedr{
    font-size: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-width: max-content;
    justify-content: space-around;
  }

  .reg_kedr label:not(:first-child){
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .reg_kedr label:first-child{
    margin-bottom: 10px;
  }

  .reg_kedr textarea{
    max-width: 100%;
  }