.resetPassword {
  background-color: #6F8B41;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  color: white;
}

.resetPassword_header {
  text-align: center;
  margin-bottom: 20px;
}

.resetPassword_header p {
  font-size: 1.14rem;
  font-weight: 200;
  margin-top: 7px;
  margin-bottom: 39px;
}

.resetPassword_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 75%;
  margin: 0 auto;
  align-items: center;
}

.resetPassword_input {
  padding: 10px 20px;
  width: 95%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 24px;
}

.resetPassword_input::placeholder {
  font-family: "Merriweather";
  font-style: italic;
  color: #B1B1B1;
}

.resetPassword_input:focus {
  outline: none;
  background-color: white;
}

.resetPassword_button_container {
  margin-top: 10px;
}

.resetPassword_button {
  width: 100%;
  padding: 12px 40px;
  background-color: F1F2EB;
  /* color: #6F8B41; */
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Merriweather';
}

.resetPassword_button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.resetPassword_button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.resetPassword_error {
  color: #FF4B4B;
  font-size: min(40px, calc(6px + 9 * ((100vw - 320px) / 1024)));
  font-weight: 600;
  margin: 0 auto;
  margin-top: 13px;
  padding: 5px 10px;
  background-color: rgba(60, 41, 41, 0.2);
  border-radius: 8px;
  border-left: 3px solid #FF4B4B;
  animation: slideIn 0.3s ease-out;
  width: 50%;
  text-align: center;
}

.resetPassword_success {
  color: rgba(101, 140, 84, 1);
  font-size: min(40px, calc(4px + 9 * ((100vw - 320px) / 1024)));
  margin: 5px 0;
  padding: 5px 10px;
  background-color: rgba(101, 140, 84, 0.1);
  border-radius: 8px;
  border-left: 3px solid rgba(101, 140, 84, 1);
  animation: slideIn 0.3s ease-out;
} 